/* ===========================================================
   IMPORTS
=========================================================== */

@import "assets/normalize";
@import "assets/mixins";
@import "assets/vars";
@import "assets/defaults";

/* ===========================================================
   PAGE LAYOUT
=========================================================== */

.page-wrap {
	@extend %clearfix;
	padding-left: 300px;

	.side {
		@include boxsize;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 300px;
		max-width: 50%;
		height: 100%;
		padding: 15px;
		background: #f5f5f5;
		box-shadow: -2px 0px 20px 0px rgba(0, 0, 0, 0.25) inset; 
		overflow-x: auto;
		overflow-y: scroll;
		resize: horizontal;
	}

	.main {
		@include boxsize;
		width: 100%;
		padding: 20px 30px;
		text-align: center;

		#generatedChart-wrap {
			margin: 0 auto;
		}

		.generated-code {
			margin: 30px auto 0;
			max-width: 500px;

			textarea {
				width: 100%;
				height: 150px;
				font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
			}
		}
	}

	@include bp(800px) {
		padding-left: 0;

		.side {
			position: relative;
			top: auto;
			left: auto;
			bottom: auto;
			width: auto;
			max-width: 100%;
			overflow-y: auto;
			resize: none;
		}

		.main {
			padding: 20px 30px 30px;
		}
	}
}

/* ===========================================================
   TYPOGRAPHY
=========================================================== */

h1 {
	margin: 0 0 0.5em;
	font: normal 40px/45px $font-default;
}

h3 {
	@extend %clearfix;
	margin: 0 0 0.5em;
	font: normal 22px/28px $font-default;
	
	span {
		float: left;
	}
	
	a {
		float: right;
		font-size: 15px;
	}
}

/* ===========================================================
   FORMS
=========================================================== */

.field-wrapper {
	margin: 0 0 1em;

	input:not([type=color]):not([type=checkbox]), select, textarea { width: 100%; }

	p.description {
		margin: 7px 0 0;
		font-size: 12px;
		line-height: 16px;
		opacity: 0.7; 

		&.nm { margin: 0; }
	}

	&.more-data {
		margin: -0.75em 0 1em;
		font-size: 12px;
	}
}

label {
	display: block;
	margin: 0 0 5px;
	font-size: 15px;

	&.check-label {
		font-size: 14px;
		line-height: 14px;
		opacity: 0.7; 
		cursor: pointer;

		&.active {
			opacity: 0.9;
		}

		input { margin-right: 10px; }
	}

	&.add-remove-wrap {
		@extend %clearfix;

		a {
			font-size: 12px;
		}

		#add-data {
			float: left;
		}

		#remove-data {
			float: right;
		}
	}
}

input:not([type=color]), select, textarea {
	@include boxsize;
	padding: 10px;
	background: #fff;
	border: 1px darken(#f5f5f5, 10%) solid;
	color: $c-text;
}

input[type=color] {
	margin: 0 4px 4px 0;
}

select {
	height: 42px !important;
}

.input-wrap {
	display: inline-block;
	text-align: center;

	input, span {
		display: block;
	}

	span {
		font-size: 12px;
		opacity: 0.75;
	}
}

.more-data {
	input+input { margin-top: 0.6em; }
}