/*===========================================================
  VARIABLES
=========================================================== */
$background: #fff;
$font-default: 'Montserrat', Arial, Helvetica, sans-serif;
$font-size: 16px;
$line-height: 22px;
$page-width: 738px;
$banner-height: 226px;

/* ===========================================================
  BREAKPOINTS
=========================================================== */
$XL: 1200px;
$L: 1050px;
$M: 800px;
$S: 630px;
$XS: 500px;
$XXS: 400px;

/* ===========================================================
  COLORS
=========================================================== */
$c-text: #484848;
$c-link: #3e9cc3;
